* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: white;

	font-family: "Poppins";
}
body {
	background-color: rgb(9, 43, 11);
	/* background: linear-gradient(
		to right,
		rgba(5, 37, 9, 0.996),
		rgba(23, 67, 29, 0.865)
	); */
}
input,
button {
	padding: 10px 20px;
	border-radius: 20px;
	background-color: black;
	/* color: white; */
	border: 0;
}
div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;

	/* border: solid; */
}
