* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: white;

	font-family: "Poppins";
	font-size: medium;
}
body {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgb(0, 0, 0, 0.2)),
		url("bgImage2.jpg");
	background-size: cover;
}

.color2 {
	backdrop-filter: blur(8px);
}
.color3 {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgb(0, 0, 0, 0));
	backdrop-filter: blur(20px);
}
.login-register-div {
	width: 30vw;
	/* height: 40vh; */
	border: solid;
	justify-content: space-around;
	flex-direction: column;
	border-radius: 20px;
	padding: 20px 0;
	backdrop-filter: blur(8px);
	box-shadow: 0 0 40px 1px white;

	h1 {
		font-size: 1.5vw;
	}
	input {
		font-size: 1vw;
		padding: 0 1.7vw;
		height: 5vw;
		width: 25vw;
	}
	button {
		font-size: 1vw;
		padding: 1.2vw 2vw;
	}
	p {
		font-size: 1vw;
	}
}

.single-user:hover {
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0),
		rgb(255, 255, 255, 0.2)
	);
}
.single-user-selected {
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0),
		rgb(255, 255, 255, 0.2)
	);
}

@keyframes wiggleAni {
	50% {
		margin: 0 5px;
		color: black;
		background-color: white;
	}
}
button:hover {
	animation: wiggleAni 1s;
}
input,
button {
	padding: 10px 20px;
	border-radius: 20px;
	background-color: black;
	border: 0;
}
input:focus {
	outline: 0;
}
input {
	height: 50px;
}
button {
	cursor: pointer;
}
div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
